@charset "utf-8";

/*メイン記述部*/

body {
  background-color: #fff;
  background-image: url(../img/bg.png);
  margin: 0;
  height: 100%;

}
html, body {
  height: 100%;
}

h1 {
  color:#999;
  font-size: 200%;
  float:right;
}

.num {
  color: #f00;
  font-size: 150%;
}

/*-------------------------------------
|スタート画面用スタイル                    |
--------------------------------------*/
.s_title {
  margin: 0 auto 5%;
  padding: 0 0 50px;
  width: 100%;
  text-align: center;
  font-size: 850%;
  color: #f00;
  font-family: sans-serif;
  /*display: inline-block;*/
}

.s_title span {
  color: #999;
}

.s_button {
  color: #f50;
  background-color: #eee;
  border-radius: 30px;
  width: 3.4em;
  margin: 0 auto 30px;
	display: block;
  font-size: 8em;
  font-family: sans-serif;
  text-decoration: none;
  text-shadow: #000 2px 2px 0px, #000 -2px 2px 0px,#000 2px -2px 0px, #000 -2px -2px 0px;
	text-align: center;
}

.s_button {
  padding: 0;
}

.s_button:hover {
  color: #f00;
  background-color: #ff9;
}

.s_display {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  display: inline;
}

#s_display {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: 80%;
  padding: 0 60px 60px;
  margin: 60px auto 0;
  padding-bottom: 60px;
}

#info {
  display: none;
  margin: 0 auto;
  width: 60%;
  position: relative;
  top: -31%;
  left: -100%;
  color: #333;
  font-size: 200%;
  text-align: center;
}

#info span {
  color: #f40;
}

/*------------------------------------
|ゲーム画面用スタイル                    |
--------------------------------------*/

#p_display {
  margin: 0 auto;
  background-image: url(../img/display.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 900px;
  height: 540px;
}

#fukidashi {
  background-image: url(../img/fukidashi.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 450px;
  height: 150px;
  position: relative;
  top: 50px;
  clear: right;
}

#fukidashi div {
  top: 100px;
}

#protocol {
  display: inline-block;
  font-size: 400%;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

#g_display {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 80%;
}

input {
  margin: 0 auto;
  width: 60%;
  font-size: 3em;
}

input[placeholder]{
  display: block;
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  border: 2px solid #f50;
  text-align: center;
}

.counter {
  font-size: 200%;
  width: 350px;
  margin: 50px auto 0;
  text-align: center;
}

/*------------------------------------
|リザルト画面用スタイル                   |
--------------------------------------*/

#r_display {
  background-image: url(../img/display.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

#r_display div {
  width: 65%;
  margin: 0 auto;
  position: relative;
  top: 70px;
}

.answer_num {
  font-size: 200%;
  text-align: center;
}

.answer_num span {
  color: #f45;
  font-size: 180%;
}

/*リストスタイル*/
.answer_list {
  border-collapse: collapse;
  margin-top: 3%;
  margin-bottom: 0;
  width: 100%
}

.answer_list th {
  border: 2px solid #f50;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  background-color: #f50;
}

.answer_list tr, td {
  border: 2px solid #f50;
  padding: 15px 30px;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  width: 1000px;
}

.a_no {
  padding: 3px;
  width: 0;
}

.p_name {
  font-weight: bold;
}

.p_num {
  color: #f30;
  font-weight: bold;
}

div.r_button {
  width:100%;
  margin:1% auto 0;
  padding-top: 0;
}

input.r_button {
  display: inline-block;
  width: 49%;
  margin: 0 auto;
  background-color: #f50;
  color: #fff;
  border: none;
}


/*------------------------------------
|アリス用スタイル                        |
--------------------------------------*/

#s_alic {
  background-image: url(../img/alic_nomal.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 150px;
  display: inline;
  float:right;
  position: absolute;
  left:70%;
}

#g_alic {
  /*background-image: url(./alic_grad.png);*/
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20%;
  display: inline;
  float: right;
}
